<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Gestion financiera inicio</title>
</head>
<body>

    <main>

        <div class=".container-xxl text-center m-2 ">
            <img src="/img/business-3d-laptop-at-workplace-showing-growth-chart.png" alt="Imagen de hombre con calculadora"/>
            <h1 class ="display-5 fw-bold "> Sistema de gestion Financiera </h1>
            <div class="col-lg-6 mx-auto">
                <p> Aplicativo web para administrar y gestionar los ingresos y egresos de empresas.</p>
                <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/oauth2/authorization/auth0}" class="btn btn-primary btn-lg px-3">Ingresar</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <h3 th:text="'Bienvenido'"> </h3>
                    <h5 th:text="${usuario?.name} ?: 'Usuario' "> </h5>
                    <a th:href="@{/inicio}" class="btn btn-primary btn-lg px-3">Llevame a la aplicacion</a>
                </div>
            </div>



        </div>


    </main>

</body>
</html>